 .lightbgctr{
    background: linear-gradient(90deg, #c5bebe, #f3f1ef); /* Horizontal gradient */
    padding: 27px;
    width: 95%;
    border-radius: 25px;
 }
 .textsection{
    display: flex;
    align-items: center;
    justify-content: center;
 }

 .herosection{
    display: flex;
    height: 500px;
    justify-content: center;
}
.heroh2{
   
    font-size: 48px ;

}